// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lato');
// Variables
@import 'variables';

$White: #F1F1F1;
$Grey: #7E909A;
$SoftBlack: #2d0902;
$Black: #202020;
$DarkBlue: #1C4E80;
$LightBlue: #A5D8DD;
$Orange: #EA6A47;
$Blue: #0091D5;

body {
  //background-image: url("/img/fruit-tomato-vegetable-nature-vegetables.jpg");
  background-color: $White;
  color: $Grey;
  //font-family: Arial;
}

header {
  color: $White !important;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: $DarkBlue;
  height: 72px;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding-right: 1.5rem;
  transition: background-color 1s, box-shadow 1s;
}
nav{
  font-family: Sathu;
  color: $White;
}

hr {
  border-color: $DarkBlue;
}
a{
  color:$White;
}

.h1 {
  color: $DarkBlue;
  font-family: "Helvetica Neue";
  font-weight: bold;
}

.h2 {
  color: $Black;
  font-family: "Helvetica Neue";
}

.h3 {
  color: $Black;
  font-family: "Helvetica Neue";
}

.h4 {
  color: $Blue;
  font-family: Lato;
  font-weight: bold
}

p {
  font-family: Lato;
}

#home {
  color: $White;
  font-size: 2rem;
  margin-left: 5%;
  text-decoration: none;
}

#home:hover {
  color: $Orange;
  text-decoration: none;
}

.container {
  margin-top: 10%;
}

.block {
  padding: 1.5rem 1.5rem 1.45rem;
  display: block;
  margin-bottom: 10px;
  background-color: whitesmoke;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
  border-radius: 5px;
}

.checkmark {
  margin-top: -2%;
  height: 30px;
  width: 30px;
}

.link {
  text-decoration: none !important;
}

.link:hover {
  color: $Orange;
  text-decoration: none !important;
}

.tooltip.top .tooltip-inner {
  background-color: $DarkBlue;
}

.tooltip.top .tooltip-arrow {
  border-top-color: $DarkBlue;
}

.pagination {
  background-color: $White;
  border-color: $White;
  color: $DarkBlue;
}
.blue{
  color:$Blue !important;
}
.head{
  margin-bottom: 2%;
}

thead{
  border:none;
}
tr{
  border:none;
}